@import url('https://necolas.github.io/normalize.css/7.0.0/normalize.css');
@import url('https://fonts.googleapis.com/css?family=Cabin');


body {
    background: #f8f8f8;
}

header {
    position: relative;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;
    font-family: 'Cabin', sans-serif;
    letter-spacing: .1em;
    font-size: 20px;
    padding: 20px 0 33px;
    margin: 0 0 10px 0;
    border-bottom: 1px solid #eee;
    text-align: center;
    background: #414141 url(../img/cross-stripes.png);
}

header h1 {
    display: inline-block;
    color: rgb(149, 149, 149);
    font-size: 48px;
    margin: 0;
    margin-bottom: 15px;
}
