.todo__items-box {
    margin: 0; padding: 0;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 15px 10px;
    border-bottom: 1px solid #eee;
}

.todo-item:last-child {
    border-bottom: none;
}

.todo-item:first-child {
    margin-top: 15px;
}

.todo-item.completed .todo-item__input {
    text-decoration: line-through;
    color: rgba(149, 149, 149, .7);
}

.todo-item__input {
    border: none;
    outline: none;
    display: block;
    width: 100%;
    padding: 0 10px 0 15px;
    font: 16px Arial, sans-serif;
}

.todo-item__input.active {
    border: 1px solid #000;
}

.todo-item__checkbox {
    width: 18px;
}

.todo-item__close-icon {
    margin-right: 2px;
    width: 19px;
    height: 15px;
    background: url(../img/cancel.svg) no-repeat;
    cursor: pointer;
    opacity: .5;
}

.todo-item__close-icon:hover {
    opacity: 1;
    transition: opacity ease-out .7s;
}