.todo-form__input {
    box-sizing: border-box;
    height: 28px;
    border: none;
    padding: 0;
    outline: none;
    width: 100%;
}

.todo-form__input::-webkit-input-placeholder       {text-indent: 0px;   transition: text-indent 0.3s ease;}
.todo-form__input::-moz-placeholder                {text-indent: 0px;   transition: text-indent 0.3s ease;}
.todo-form__input:-moz-placeholder                 {text-indent: 0px;   transition: text-indent 0.3s ease;}
.todo-form__input:-ms-input-placeholder            {text-indent: 0px;   transition: text-indent 0.3s ease;}
.todo-form__input:focus::-webkit-input-placeholder {text-indent: -500px; transition: text-indent 0.3s ease;}
.todo-form__input:focus::-moz-placeholder          {text-indent: -500px; transition: text-indent 0.3s ease;}
.todo-form__input:focus:-moz-placeholder           {text-indent: -500px; transition: text-indent 0.3s ease;}
.todo-form__input:focus:-ms-input-placeholder      {text-indent: -500px; transition: text-indent 0.3s ease;}
.todo-form__input[placeholder]          {text-overflow:ellipsis;}
.todo-form__input::-moz-placeholder     {text-overflow:ellipsis;} 
.todo-form__input:-moz-placeholder      {text-overflow:ellipsis;} 
.todo-form__input:-ms-input-placeholder {text-overflow:ellipsis;}    
.todo-form__input::-webkit-input-placeholder {color:#bbbbbb;}
.todo-form__input::-moz-placeholder          {color:#bbbbbb;}
.todo-form__input:-moz-placeholder           {color:#bbbbbb;}
.todo-form__input:-ms-input-placeholder      {color:#bbbbbb;}


.todo-form__btn {
    display: inline-block;
    background: url(../img/plus-symbol.svg) no-repeat 50%;
    padding: 9px;
    background-size: 20px 100%;
    border: none;
    outline: none;
    cursor: pointer;
    width: 16px;
    height: 16px;
    opacity: 0;
    transition: opacity ease-out .3s;
}

.todo-form:hover .todo-form__btn {
    opacity: 1;
}

.todo {
    box-sizing: border-box;
    background: #fff;
    margin: 1%;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, .2);
    box-shadow: 2px 2px 0 rgba(0, 0, 0, .1);
    min-width: 30%;
    opacity: 0;
    transition: opacity ease-out .7s;
}

.todo.visible {
    opacity: 1;
}

.todo-form {
    padding: 10px 16px 9px;
    font-size: 14px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
}

.todo-form__delete-btn {
    background: url(../img/delete-button.svg) no-repeat;
    color: #fff;
    border: none;
    border-radius: 3px;
    height: 16px;
    width: 19px;
    outline: none;
    cursor: pointer;
 
}

.todo-form__delete-todo-list {
    background: url(../img/cancel.svg) no-repeat;
    width: 19px;
    height: 15px;
    border: none;   position: absolute;
    top: 12px;
    right: 14px;
    opacity: 0;
    transition: opacity ease-out .3s;
    cursor: pointer;
    outline: none;
}

.todo-title.readonly {
    cursor: pointer;
}

.todo-title::selection {
    background: #3f75a9;    
    color: #fff;
}
.todo-title::-moz-selection {
    background: #3f75a9; 
    color: #fff;
}

.todo-title-wrap {
    position: relative;
    padding: 10px 14px;
    font-size: 16px;
    font-family: Arial;
    background: #f0f7ff;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    color: #8a8a8a;
    text-align: center;
    border-radius: 3px 3px 0 0;
}

.todo-title-wrap:hover .todo-form__delete-todo-list {
    opacity: 1;
}

.todo-title {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    margin: 0;
    background: transparent;
    color: #8a8a8a;
}

.additional-functions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background: #fcfdff;
    opacity: 0;
    height: 0;
}

.additional-functions.visible {
    opacity: 1;
    height: 30px;
    border-bottom: 1px solid #eee;
    transition: opacity ease-out .7s, height ease-out .3s;
}
